<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="qa">
        <environment id="qa">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url"
                          value="jdbc:postgresql://80.78.248.82:5434/coursedb"/>
                <property name="username" value="postgres"/>
                <property name="password" value="postgres"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="ru/IgorDen1973/db/mapper/xml/CategoriesMapper.xml"/>
        <mapper resource="ru/IgorDen1973/db/mapper/xml/ProductsMapper.xml"/>
    </mappers>
</configuration>

        <!--
          If mapper resource="ru/IgorDen1973/db/mapper/xml/CategoriesMapper.xml" different than
          main/java/resources   we should place some changes to pom.xml
                          <resource>
                    <directory>src/main/java</directory>
                    <includes>
                        <include>**/*.xml</include>
                    </includes>
                </resource>
            <resource>
        -->